body{

  background-size: cover;

}

.narrative{
  font-family: "montserrat-black";
  color: grey;
  align-content: center;
  padding-top: 100px;
  padding-left: 145px;
  font-size: 2rem;
  line-height: 1.5;
}

.main-picture{
  width: 30rem;
  height: 25rem;
  margin: 20px 125px 10px;

}

.navbar{
  height: 40px;
  background-color: black;
}

.nav-item{
  font-size: 80%;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-link{
  /* border: 1px solid #fff; */
  color: #F1E4C3;
  border-radius: 10px;
cursor: pointer;
}

.nav-link:hover {
  background-color: greenyellow;
}

.logo{
  margin-left: -75px;
}
